*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/backend/.env
/backend/venv
/backend/__pycache__
/frontend/.idea
/frontend/.idea/caches
/frontend/.idea/libraries
/frontend/.idea/modules.xml
/frontend/.idea/workspace.xml
/frontend/.idea/navEditor.xml
/frontend/.idea/assetWizardSettings.xml
